body, .content {
    width: 100vw;
    min-height: 90vh;
    overflow-x: hidden;
}
.navbar-container {
    display: flex;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    align-items: baseline;
}
.fill-available-width {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}
.fill-available-height {
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}
.content {
    padding-top: 3.5rem;
    padding-left: 1.5rem;
    display: flex;
    background-color: rgba(248,248,252,1);
    height: 100%;
}
.prompt {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 656px;
    display: block;
    text-decoration: none;
    color: black;
}
.prompt:hover {
    background-color: white;
}
.prompt:active {
    background-color: initial;
}
.prompt .top {
    display: flex;
}
.prompt-image {
    border-radius: 0.5rem;
    max-height: 60px;
}
.prompt-top-text {
    margin-left: 1rem;
}
.prompt-desc {
    margin-top: 1rem;
}
.topics {
    margin-left: 5rem;
}
.topic-pills {
    max-width: 20rem;
}
.rounded-pill {
    cursor: pointer;
}
.text-bg-pink {
    color: white;
    background-color: palevioletred;
}
.text-bg-brown {
    color: white;
    background-color: rgb(108, 53, 2);
}
.green-btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.green-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.green-btn:hover {
  background-color: #2c974b;
}

.green-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.green-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.green-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}